@model PagedResult<PrestamoListVM>

@if (!Model.Items.Any())
{
    <div class="libro-alert libro-alert-info" role="alert">
        <span class="font-medium">@Localizer["PrestamosSearchNotFound"]</span>
    </div>
}
else
{
    <!-- Enlaces de navegación -->
    @await Html.PartialAsync("_Pagination", Model)

    <table class="text-gray-500 w-full text-left text-sm">
        <thead class="bg-gray-100 text-gray-700 text-xs">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input name="allIdsLibro" type="checkbox" class="libro-checkbox-input">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().FechaPrestamo)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().FechaDevolucion)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().ClienteId)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().LibroId)</th>
                <th scope="col" class="px-6 py-3">@Localizer["AccionesTitle"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prestamo in Model.Items)
            {
                <tr class="bg-white border-b">
                    <td class="w-4 p-4">
                        <div class="flex items-center">
                            <input name="idsPrestamo" type="checkbox" value="@prestamo.Id" class="libro-checkbox-input">
                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td scope="row" class="libro-table-row-content">@prestamo.FechaPrestamo.ToShortDateString()</td>
                    <td scope="row" class="libro-table-row-content">@prestamo.FechaDevolucion.Value.ToShortDateString()</td>
                    <td scope="row" class="libro-table-row-content">@($"{prestamo.Cliente.Nombre} {prestamo.Cliente.Apellido}")</td>
                    <td scope="row" class="libro-table-row-content">@prestamo.Libro.Titulo</td>
                    <td class="px-6 py-4">
                        <a asp-route="prestamoVer" asp-route-id="@prestamo.Id" class="libro-btn libro-btn-info">@Localizer["VerButton"]</a>
                        <a asp-route="prestamoEdit" asp-route-id="@prestamo.Id" class="libro-btn libro-btn-edit">@Localizer["ModificarButton"]</a>
                        <a asp-route="prestamoDelete" asp-route-id="@prestamo.Id" onclick="Eliminar(this.href); return false;" class="libro-btn libro-btn-delete cursor-pointer">@Localizer["EliminarButton"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="my-4">
        <a asp-route="prestamoDeleteMultiple" onclick="EliminarSeleccionados(this.href); return false;" class="libro-btn libro-btn-delete">@Localizer["EliminarSelectedButton"]</a>
    </div>
}
