@model PagedResult<CategoriaVM>

@if (!Model.Items.Any())
{
    <div class="bbtc-alert bbtc-alert-info" role="alert">
        <span class="font-medium">@Localizer["CategoriasSearchNotFound"]</span>
    </div>
}
else
{
    @await Html.PartialAsync("_Pagination", Model)

    <table class="w-full text-left text-sm text-gray-500">
        <thead class="bg-gray-200 text-xs text-gray-700">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input name="allIdsCategoria" type="checkbox" class="bbtccheckbox-input">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().Nombre)</th>
                <th scope="col" class="px-6 py-3">@Localizer["AccionesTitle"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model.Items)
            {
                <tr class="border-b bg-white">
                    <td class="w-4 p-4">
                        <div class="flex items-center">
                            <input name="idsCategoria" type="checkbox" value="@categoria.Id" class="bbtccheckbox-input">
                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td scope="row" class="bbtctable-row-content">@categoria.Nombre</td>
                    <td class="px-6 py-4">
                        <a asp-route="categoriaVer" asp-route-id="@categoria.Id" class="bbtc-btn bbtc-btn-alternative mr-2">
                            <icon href="view-icon" class="size-6"></icon> @Localizer["VerButton"]
                        </a>
                        <a asp-route="categoriaEdit" asp-route-id="@categoria.Id" class="bbtc-btn bbtc-btn-info mr-2">
                            <icon href="edit-icon" class="size-6"></icon> @Localizer["ModificarButton"]
                        </a>
                        <a asp-route="categoriaDelete" asp-route-id="@categoria.Id" onclick="Eliminar(this.href); return false;" class="bbtc-btn bbtc-btn-delete-outline mr-2">
                            <icon href="delete-icon" class="size-6"></icon> @Localizer["EliminarButton"]
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="my-4">
        <a asp-route="categoriaDeleteMultiple" onclick="EliminarSeleccionados(this.href); return false;"
           class="bbtc-btn bbtc-btn-delete-outline ml-2">
            <icon href="delete-icon" class="size-6"></icon> @Localizer["EliminarSelectedButton"]
        </a>
    </div>
}
