@model PagedResult<ClienteVM>

@if (!Model.Items.Any())
{
    <div class="bbtc-alert bbtc-alert-info" role="alert">
        <span class="font-medium">@Localizer["ClientesSearchNotFound"]</span>
    </div>
}
else
{
    @await Html.PartialAsync("_Pagination", Model)

    <div class="flex justify-center overflow-x-auto">
        <div class="sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-x-auto sm:rounded-lg">
                    <table class="min-w-full text-left text-sm text-gray-500">
                        <thead class="bg-gray-200 text-xs text-gray-700">
                            <tr>
                                <th scope="col" class="px-6 py-3"></th>
                                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().Nombre)</th>
                                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().Apellido)</th>
                                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().Email)</th>
                                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().Telefono)</th>
                                <th scope="col" class="px-6 py-3">@Localizer["AccionesTitle"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cliente in Model.Items)
                            {
                                <tr class="border-b bg-white">
                                    <td class="w-4 p-4">
                                        <div class="flex items-center">
                                            <input name="idsCliente" type="checkbox" value="@cliente.Id" class="bbtc-checkbox-input">
                                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                        </div>
                                    </td>
                                    <td scope="row" class="bbtc-table-row-content">@cliente.Nombre</td>
                                    <td scope="row" class="bbtc-table-row-content">@cliente.Apellido</td>
                                    <td scope="row" class="bbtc-table-row-content">@cliente.Email</td>
                                    <td scope="row" class="bbtc-table-row-content">@cliente.Telefono</td>
                                    <td class="px-6 py-4">
                                        <a asp-route="clienteVer" asp-route-id="@cliente.Id" class="bbtc-btn bbtc-btn-alternative mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-eye">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                            </svg>
                                            @Localizer["VerButton"]
                                        </a>
                                        <a asp-route="clienteEdit" asp-route-id="@cliente.Id" class="bbtc-btn bbtc-btn-info mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                                <path d="M16 5l3 3" />
                                            </svg>
                                            @Localizer["ModificarButton"]
                                        </a>
                                        <a asp-route="clienteDelete" asp-route-id="@cliente.Id" onclick="Eliminar(this.href); return false;"
                                            class="bbtc-btn bbtc-btn-delete-outline mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 7l16 0" />
                                                <path d="M10 11l0 6" />
                                                <path d="M14 11l0 6" />
                                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                            </svg>
                                            @Localizer["EliminarButton"]
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="my-4">
                        <a asp-route="clienteDeleteMultiple" onclick="EliminarSeleccionados(this.href); return false;"
                           class="bbtc-btn bbtc-btn-delete-outline ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 7l16 0" />
                                <path d="M10 11l0 6" />
                                <path d="M14 11l0 6" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                            @Localizer["EliminarSelectedButton"]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
