@model PagedResult<AutorVM>

@if (!Model.Items.Any())
{
    <div class="bbtc-alert bbtc-alert-info" role="alert">
        <span class="font-medium">@Localizer["AutoresSearchNotFound"]</span>
    </div>
}
else
{
    @await Html.PartialAsync("_Pagination", Model)

    <div class="relative overflow-x-auto sm:rounded-lg">
        <table class="w-full text-left text-sm text-gray-500">
            <thead class="bg-gray-200 text-xs text-gray-700">
                <tr>
                    <th scope="col" class="p-4">
                        <div class="flex items-center">
                            <input name="allIdsAutor" type="checkbox" class="bbtc-checkbox-input">
                            <label for="checkbox-all-search" class="sr-only">checkbox</label>
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().Nombre)</th>
                    <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().Apellido)</th>
                    <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().FechaNacimiento)</th>
                    <th scope="col" class="px-6 py-3">@Localizer["AccionesTitle"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var autor in Model.Items)
                {
                    <tr class="border-b bg-white">
                        <td class="w-4 p-4">
                            <div class="flex items-center">
                                <input name="idsAutor" type="checkbox" value="@autor.Id" class="bbtc-checkbox-input">
                                <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                            </div>
                        </td>
                        <td scope="row" class="bbtc-table-row-content">@autor.Nombre</td>
                        <td scope="row" class="bbtc-table-row-content">@autor.Apellido</td>
                        <td scope="row" class="bbtc-table-row-content">@autor.FechaNacimiento.ToShortDateString()</td>
                        <td class="px-6 py-4">
                            <a asp-route="autorVer" asp-route-id="@autor.Id" class="bbtc-btn bbtc-btn-alternative mr-2">
                                <icon href="view-icon" class="size-6"></icon> @Localizer["VerButton"]
                            </a>
                            <a asp-route="autorEdit" asp-route-id="@autor.Id" class="bbtc-btn bbtc-btn-info mr-2">
                                <icon href="edit-icon" class="size-6"></icon> @Localizer["ModificarButton"]
                            </a>
                            <a asp-route="autorDelete" asp-route-id="@autor.Id" onclick="Eliminar(this.href); return false;"
                               class="bbtc-btn bbtc-btn-delete-outline mr-2">
                                <icon href="delete-icon" class="size-6"></icon> @Localizer["EliminarButton"]
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="my-4">
        <a asp-route="autorDeleteMultiple" onclick="EliminarSeleccionados(this.href); return false;"
           class="bbtc-btn bbtc-btn-delete-outline ml-2">
            <icon class="size-6" href="delete-icon"></icon> @Localizer["EliminarSelectedButton"]
        </a>
    </div>
}
