@model AutorVM

<h1 class="bbtc-title">@Localizer["ModificarAutorTitle"]</h1>

<form method="post" asp-route="autorEdit" class="mx-auto mt-10 max-w-md">
    <div class="z-0 group relative mb-5 w-full">
        <input asp-for="Nombre" class="border-0 border-b-2 peer block w-full appearance-none border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:outline-none focus:ring-0 focus:border-blue-600" placeholder=" " autofocus required />
        <label asp-for="Nombre" class="-translate-y-6 -z-10 origin-[0] absolute top-3 scale-75 transform text-sm text-gray-500 duration-300 peer-focus:font-medium peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:left-auto">@Html.DisplayNameFor(model => model.Nombre)</label>
        <span asp-validation-for="Nombre" class="text-red-500"></span>
    </div>
    <div class="z-0 group relative mb-5 w-full">
        <input asp-for="Apellido" class="border-0 border-b-2 peer block w-full appearance-none border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:outline-none focus:ring-0 focus:border-blue-600" placeholder=" " required />
        <label asp-for="Apellido" class="-translate-y-6 -z-10 origin-[0] absolute top-3 scale-75 transform text-sm text-gray-500 duration-300 peer-focus:font-medium peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:left-auto">@Html.DisplayNameFor(model => model.Apellido)</label>
        <span asp-validation-for="Apellido" class="text-red-500"></span>
    </div>
    <div class="z-0 group relative mb-5 w-full">
        <input asp-for="FechaNacimiento" class="border-0 border-b-2 peer block w-full appearance-none border-gray-300 bg-transparent px-0 py-2.5 text-sm text-gray-900 focus:outline-none focus:ring-0 focus:border-blue-600" placeholder=" " required />
        <label asp-for="FechaNacimiento" class="-translate-y-6 -z-10 origin-[0] absolute top-3 scale-75 transform text-sm text-gray-500 duration-300 peer-focus:font-medium peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:left-auto">@Html.DisplayNameFor(model => model.FechaNacimiento)</label>
        <span asp-validation-for="FechaNacimiento" class="text-red-500"></span>
    </div>

    <button type="submit" class="bbtc-btn bbtc-btn-info mr-2">@Localizer["ModificarButton"]</button>
    <a asp-route="autorIndex" class="bbtc-btn bbtc-btn-light">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
            <path d="M5 12l6 6" />
            <path d="M5 12l6 -6" />
        </svg>
        @Localizer["VolverButton"]
    </a>
</form>
