@model PagedResult<LibroListVM>

@if (!Model.Items.Any())
{
    <div class="bbtc-alert bbtc-alert-info" role="alert">
        <span class="font-medium">@Localizer["LibrosSearchNotFound"]</span>
    </div>
}
else
{
    @await Html.PartialAsync("_Pagination", Model)

    <table class="w-full text-left text-sm text-gray-500">
        <thead class="bg-gray-200 text-xs text-gray-700">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input name="allIdsLibro" type="checkbox" class="bbtccheckbox-input">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().Titulo)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().AutorId)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().CategoriaId)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().ISBN)</th>
                <th scope="col" class="px-6 py-3">@Html.DisplayNameFor(model => model.Items.First().FechaPublicacion)</th>
                <th scope="col" class="px-6 py-3">@Localizer["AccionesTitle"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in Model.Items)
            {
                <tr class="border-b bg-white">
                    <td class="w-4 p-4">
                        <div class="flex items-center">
                            <input name="idsAutor" type="checkbox" value="@libro.Id" class="bbtccheckbox-input">
                            <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td scope="row" class="bbtctable-row-content">@libro.Titulo</td>
                    <td scope="row" class="bbtctable-row-content">@($"{libro.Autor.Nombre} {libro.Autor.Apellido}")</td>
                    <td scope="row" class="bbtctable-row-content">@libro.Categoria.Nombre</td>
                    <td scope="row" class="bbtctable-row-content">@libro.ISBN</td>
                    <td scope="row" class="bbtctable-row-content">@libro.FechaPublicacion.ToShortDateString()</td>
                    <td class="px-6 py-4">
                        <a asp-route="libroVer" asp-route-id="@libro.Id" class="bbtc-btn bbtc-btn-alternative mr-2">
                            <icon href="view-icon" class="size-6"></icon> @Localizer["VerButton"]
                        </a>
                        <a asp-route="libroEdit" asp-route-id="@libro.Id" class="bbtc-btn bbtc-btn-info mr-2">
                            <icon href="edit-icon" class="size-6"></icon> @Localizer["ModificarButton"]
                        </a>
                        <a asp-route="libroDelete" asp-route-id="@libro.Id" onclick="Eliminar(this.href); return false;"
                            class="bbtc-btn bbtc-btn-delete-outline mr-2">
                            <icon href="delete-icon" class="size-6"></icon> @Localizer["EliminarButton"]
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="my-4">
        <a asp-route="libroDeleteMultiple" onclick="EliminarSeleccionados(this.href); return false;"
            class="bbtc-btn bbtc-btn-delete-outline ml-2">
            <icon href="delete-icon" class="size-6"></icon> @Localizer["EliminarSelectedButton"]
        </a>
    </div>
}
