@model PagedResult<LibroListVM>

<h1 class="bbtc-title">@Localizer["ListaLibrosTitle"]</h1>

<div class="mb-6 mt-8">
    <a asp-route="libroCreate" class="bbtc-btn bbtc-btn-info">
        <icon href="add-icon" class="size-6"></icon> @Localizer["CrearLibroButton"]
    </a>
</div>

@if (TempData["LibroMensajes"] != null)
{
    <div class="bbtc-alert bbtc-alert-success" role="alert">
        <span class="font-medium">@TempData["LibroMensajes"]</span>
    </div>
}

@if (TempData["ExisteAutorCategoria"] != null)
{
    <div class="bbtc-alert bbtc-alert-info" role="alert">
        <span class="font-medium">@TempData["ExisteAutorCategoria"]</span>
    </div>
}

@if (ViewBag.ListaLibros != null)
{
    <div class="bbtc-alert bbtc-alert-info" role="alert">
        <span class="font-medium">@ViewBag.ListaLibros</span>
    </div>
}
else
{
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="bg-white pb-4">
            <label for="filterSearch" class="sr-only">Search</label>
            <div class="relative mt-1">
                <div class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3">
                    <icon href="search-icon" class="size-6"></icon>
                </div>
                <input type="text" name="filterSearch" onkeyup="Search('/Libro/Search');" class="bbtc-search-filter-input" placeholder='@(Localizer["LibroSearchPlaceholder"])' autofocus>
            </div>
        </div>

        <div id="dataBody">
            @await Html.PartialAsync("_LibrosTabla", Model)
        </div>
    </div>
}
